{% extends 'web_autos/base.html' %}
{% load static %}

{% block title %}Lista - AutosDelSur{% endblock %}

{% block content %}
<h1>Lista de Vehículos</h1>
<ul>
    {% for car in cars %}
        <li>
            {{ car.brand }} - {{ car.model }} - {{ car.year }} - ${{ car.price }}
            <!-- Botón para eliminar el vehículo -->
            <form method="post" action="{% url 'car_delete' car.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'car_add' %}">Agregar Vehículo</a>
{% endblock %}
